.apropos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  @media screen and (max-width: 375px) {
    gap: 20px;
  }
}
.section-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  gap: 30px;
  @media screen and (max-width: 375px) {
    gap: 20px;
  }
}
