.banner {
  max-width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 223px;
  overflow: hidden;
  border-radius: 30px;
  .banner-img {
    filter: brightness(70%);
  }
  h1 {
    position: absolute;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0.15rem;
  }
}


