.erreur-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
  color: #ff6060;
  font-weight: 500;
  .erreur-title {
    font-size: 288px;
    font-weight: 700;
  }
  .erreur-text {
    font-size: 36px;
  }
  .erreur-link {
    font-size: 18x;
    color: #ff6060;
  }
}


