footer {
  width: 100vw;
  padding: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: auto;
  .footer-logo {
    width: 122px;
  }
  .footer-text {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
  }
}
