footer {
  width: 100vw;
  padding: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: auto;
  @media screen and (max-width: 375px) {
    gap: 10px;
  }
  .footer-logo {
    width: 122px;
  }
  .footer-text {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    @media screen and (max-width: 375px) {
      text-align: center;
      font-size: 12px;
    }
    .mobile-break {
      display: none;
      @media screen and (max-width: 375px) {
        display: block;
      }
    }
  }
}
