.logement-carousel {
  @media screen and (max-width: 375px) {
    width: 335px;
    height: 255px;
  }
  .carousel-btn-container {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    height: 415px;
    @media screen and (max-width: 375px) {
      border-radius: 10px;
      height: 100%;
    }
    .carousel-btn {
      background: none;
      border: none;
      color: #ffffff;
      font-size: 98px;
      position: absolute;
      @media screen and (max-width: 375px) {
        font-size: 24px;
      }
    }
    .next {
      right: 15px;
      @media screen and (max-width: 375px) {
        right: 5px;
      }
    }
    .previous {
      left: 15px;
      @media screen and (max-width: 375px) {
        left: 5px;
      }
    }
    .carousel-photo {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      img {
        width: 100%;
        @media screen and (max-width: 375px) {
          height: 100%;
        }
      }
    }
    .carousel-count {
      position: absolute;
      bottom: 10px;
      left: 50%;
      color: #ffffff;
      font-size: 18px;
      @media screen and (max-width: 375px) {
        display: none;
      }
    }
  }
}
